@inherits ViewPage

@{
    ViewBag.title = "Table With Toolbar";
    Layout = "_Layout";
    }
<div id="grid">

</div>

@section FooterJs {
<script type="text/x-kendo-template" id="template">
    <div class="toolbar">
        <label class="category-label" for="category">Show products by category:</label>
        <input type="search" id="category" style="width: 150px" />
    </div>
</script>
<a href="~/Content/Data/products.json">~/Content/Data/products.json</a>
<script>
    $(document).ready(function () {
        var grid = $("#grid").kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Products"
                },
                pageSize: 20,
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true
            },
            toolbar: kendo.template($("#template").html()),
            height: 430,
            sortable: true,
            pageable: true,
            columns: [
                { field: "ProductID", title: "Product ID", width: 100 },
                { field: "ProductName", title: "Product Name" },
                { field: "UnitPrice", title: "Unit Price", width: 100 },
                { field: "QuantityPerUnit", title: "Quantity Per Unit" }
            ]
        });
        var dropDown = grid.find("#category").kendoDropDownList({
            dataTextField: "CategoryName",
            dataValueField: "CategoryID",
            autoBind: false,
            optionLabel: "All",
            dataSource: {
                type: "odata",
                severFiltering: true,
                transport: {
                    read: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Categories"
                }
            },
            change: function () {
                var value = this.value();
                if (value) {
                    grid.data("kendoGrid").dataSource.filter({ field: "CategoryID", operator: "eq", value: parseInt(value) });
                } else {
                    grid.data("kendoGrid").dataSource.filter({});
                }
            }
        });
    });

</script>







}